<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243103203789-sh0ld87ot7ubm6q3qvfojf0hmlpurqk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243103203789-sh0ld87ot7ubm6q3qvfojf0hmlpurqk7</string>
	<key>API_KEY</key>
	<string>AIzaSyCQFM54Ml5uaErc0udwXxiKWLHa02vIRWc</string>
	<key>GCM_SENDER_ID</key>
	<string>243103203789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.lmu.PlanGPT</string>
	<key>PROJECT_ID</key>
	<string>plangpt-a2d69</string>
	<key>STORAGE_BUCKET</key>
	<string>plangpt-a2d69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243103203789:ios:9459df1bd677fe1325c484</string>
</dict>
</plist>